body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

section {
  padding: 0 20px;
}

#microPage {
  max-width: 800px;
  margin: 0 auto;
}

.default {
  padding: 50px;
  color: red;
  border: 1px solid red;
  text-align: center;
}

.gray {
  color: gray;
  background: black;
  min-height: 180px;
}

.gallery {
  padding: 20px;
}

.gallery--dark {
  background: gray;
  color: white;
}

.gallery__content {
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  width: 50%;
  padding: 10px;
  padding-left: 0;
  box-sizing: border-box;
}

.gallery__item:nth-child(2n) {
  padding-right: 0;
  padding-left: 10px;
}

.gallery__image {
  padding-bottom: 100%;
  position: relative;
}

.gallery__image img{
  height: 100%;
  object-fit: cover;
  position: absolute;
  top:0;
  left: 0;
}

.text-image {
  display: flex;
  flex-direction: row;
}

.text_image_block--inverted {
  display: flex;
  flex-direction: row-reverse;
}

.text-image__item {
  width: 50%;
  padding: 20px;
}

.text-imagen--dark {
  background-color: gray;
  color: white;
}

.profile {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  width: 800px;
  height: 400px;

}

.block-picture {
  width: 400px;
  height: 400px;
  position: relative;
}

.block-picture__image {
  width: 100%;
}

.block-picture__tag {
  color: white;
  background-color: rgb(63, 63, 63);
  width: 110px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
}

.block-card {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.profile--dark {
  background-color: rgb(58, 58, 58);
  color: white;
}

.block-card__title {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}

.block-card__user-name {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}

.social-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.social-container a:link,
.social-container a:visited {
  
  color: black;
}

.social-web {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.block-card__button {
  border-radius: 30px;
  width: 250px;
  margin: 0 0 0 20%;
  height: 15%;
  background-color: rgb(58, 58, 58);
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
}

.profile--dark .block-card__button {
  background-color: white;
  color: black;
}

.profile--dark .social-container a:link,
.profile--dark .social-container a:visited {
  
  color: white;
}


